.cart-list {
  margin: 0 auto;
  max-width: calc(100% - 40px);
  padding: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.cart-item-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.cart-item-info {
  flex-grow: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.cart-item-info p {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.cart-item-info span {
  font-size: 18px;
  font-weight: bold;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

.cart-item-actions p {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #4caf50;
}

.btn {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 12px;
  padding: 8px 16px;
  transition: all 0.3s ease 0s;
  margin-left: 5px;
}

.btn-add {
  background-color: #4caf50;
}

.btn-remove {
  background-color: red;
}

.total,
.subtotal {
  text-align: right;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.tax {
  text-align: right;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.subtotal {
  color: green;
  font-size: 40px;
}

.empty-container {
  text-align: center;
  margin-top: 50px;
}

.empty-cart {
  font-size: 20px;
  color: #333;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  border: none;
  text-align: center;
  text-decoration: underline;
  font-size: 20px; /* Increase the size of the text */
}

.back-button a {
  color: inherit;
  text-decoration: inherit;
}

.discount-container {
  margin: 10px 0;
  font-size: 14px; /* Smaller font size */
  color: green;
}

.payment {
  background-color: purple;
  color: white;
  padding: 10px 15px; /* Smaller vertical padding, same horizontal padding */
  font-size: 18px; /* Smaller font size */
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50px; /* High border radius for rounded corners */
  float: right; /* Positions the button to the right */
}

.payment:hover {
  background-color: #7d3ec9; /* Slightly lighter purple on hover */
}
