<nav class="navbar">
  <div class="logo">
    <a class="route-link" routerLink="/dashboard">AngularPOS</a>
  </div>
  <div class="cart-logo">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="white"
      class="bi bi-cart4"
      viewBox="0 0 16 16"
    >
      <path
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H15.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L5.415 11H13a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.491-.408L3.01 3H.5a.5.5 0 0 1-.5-.5z"
      />
      <path
        d="M3.5 14a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0zm7 0a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0z"
      />
    </svg>
    <a class="route-link" routerLink="/cart">Cart</a>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
  <div class="footer-content">
    <p class="footer-text">
      Created by
      <a class="author-link" href="https://zacharylyh.bio" target="_blank"
        >Zachary Lee</a
      >
    </p>
  </div>
</footer>
